- @page_title = "Izmjena multimedije na naslovnici"

= labeled_form_for @sidebar, :url => "/sidebar" do |f|
  = f.custom_error_messages
  = f.text_field :video_title, :label => "Naslov videa"
  = f.text_field :video, :label => "Video"
  .field.audio
    = f.label :audio_id, "Audio"
    %br
    = f.collection_select :audio_id, Audio.all, :id, :title, :include_blank => true
    %p.manage{style: 'display: inline-block;'}= link_to "Uredi →", manage_audios_path
  = f.submit "Spremi"
  = cancel_button "Odustani", home_path
