- @page_title = "Izmjena multimedije na naslovnici"

= labeled_form_for @sidebar, :url => "/sidebar" do |f|
  = f.custom_error_messages
  = f.text_field :video_title, :label => "Naslov videa"
  = f.text_field :video, :label => "Video"
  = f.text_field :audio_title, :label => "Naslov pjesme"
  = f.text_field :audio_aac, :label => "Pjesma (AAC)"
  = f.text_field :audio_ogg, :label => "Pjesma (Ogg)"
  = f.submit "Spremi"
  = cancel_button "Odustani", home_path
