- if Audio.any?
  %section.uploaded
    %h2 Dosad učitane pjesme
    %ol.songs
      = list_of(Audio.all.each) do |audio|
        .title= audio.title
        = delete_button "x", audio_path(audio)
        %ul.files
          = list_of(audio.filenames) do |filename|
            = filename
- else
  %p.empty Nema učitanih pjesama.
