- @page_title = "Dodaj pjesmu"


= form_tag "/audios", :multipart => true do |f|
  = display_errors(@errors) if @errors.present?

  .field
    = label_tag :title, "Naslov pjesme"
    = text_field_tag :title, params[:title], :data => {:autocomplete_sources => autocomplete_audios_path}
  .field
    = label_tag :file, "Upload"
    = file_field_tag :file

  = submit_tag "Spremi"
  = cancel_button "Odustani", edit_sidebar_path
