- @page_title = "Dodaj pjesmu"

%p= link_to "â† Natrag", edit_sidebar_path

= labeled_form_for @audio do |f|
  = f.custom_error_messages

  = f.text_field :title, :label => "Naslov pjesme"
  = f.file_field :aac, :label => "AAC"
  = f.file_field :ogg, :label => "Ogg"

  = submit_tag "Spremi"
  = cancel_button "Odustani", edit_sidebar_path

= render :partial => "list"
