- @page_title = "Dodaj pjesmu"

%p= link_to "← Natrag", edit_sidebar_path

= labeled_form_for @audio do |f|
  = f.custom_error_messages

  = f.text_field :title, :label => "Naslov pjesme"
  = f.file_field :aac, :label => "AAC"
  = f.file_field :ogg, :label => "Ogg"

  = submit_tag "Spremi"
  = cancel_button "Odustani", edit_sidebar_path

- if Audio.any?
  %table.uploaded
    %caption Dosad učitane pjesme
    - Audio.all.each do |audio|
      %tr
        %th= audio.title
        - audio.filenames.each do |filename|
          %td= filename
- else
  %p.empty Nema učitanih pjesama.
