- @page_title = "Dodaj pjesmu"

%div
  %p Dosad uploadane pjesme:
  %ul
    = list_of(Audio.all) do |audio|
      = audio.title
      %ul
        = list_of(audio.filenames) do |filename|
          = filename

= form_tag "/audios", :multipart => true do |f|
  = display_errors(@errors) if @errors.present?

  .field
    = label_tag :title, "Naslov pjesme"
    = text_field_tag :title, params[:title]
  .field
    = label_tag :file, "Upload"
    = file_field_tag :file

  = submit_tag "Spremi"
  = cancel_button "Odustani", edit_sidebar_path
