- @page_title = "Dodaj pjesmu"

%div
  %p Dosad uÄitane pjesme:
  %ul
    = list_of(Audio.all) do |audio|
      = audio.title
      %ul
        = list_of(audio.filenames) do |filename|
          = filename

= labeled_form_for @audio do |f|
  = f.custom_error_messages

  = f.text_field :title, :label => "Naslov pjesme"
  = f.file_field :aac, :label => "AAC"
  = f.file_field :ogg, :label => "Ogg"

  = submit_tag "Spremi"
  = cancel_button "Odustani", edit_sidebar_path
