- @page_title = "Prijava"

- if @error
  %p= @error

= form_tag "/login" do

  .field
    = label_tag :username, "KorisniÄko ime"
    = text_field_tag :username, params[:username]

  .field
    = label_tag :password, "Lozinka"
    = password_field_tag :password, params[:password]

  = submit_tag "Prijava"
  = cancel_button "Odustani", referer
