%article#members

  - generate_arrows(content) if logged_in?

  %header
    %h1= content.text

  - for voice in Member.voices
    %section
      %h2= voice.capitalize
      %ol
        = list_of Member.by_voice(voice).order(:last_name) do |member|
          = "#{member.first_name} #{member.last_name}"

  - buttons({edit: 'Izmjeni'}, '/members') if logged_in?
