%article{id: string_to_id(@content.title)}

  %h1= @content.title

  .inner

    - if logged_in?
      - add_button('/activity_year/new')

    - ActivityYear.order(:title.desc).each do |activity_year|
      %section
        %h1= activity_year.title
        = render_markdown activity_year.body
        - if logged_in?
          - edit_button("/activity_year/#{activity_year.title}")
          - delete_button("/activity_year/#{activity_year.title}")
