- if logged_in?
  %p
    %a#add{href: '/post/new'} Dodaj +

- Post.each do |post|
  %article
    %header
      %hgroup
        %h1= post.title
      %time{datetime: post.created_at, :pubdate => true}= post.created_at.to_s(:cro)
    - post.body.split("\n").each do |paragraph|
      %p= paragraph

    - if logged_in?
      %div.spacer
        %a.edit{:href => "/post/#{post.id}"} Izmjeni
        - button(action: "/post/#{post.id}", method: 'delete', value: 'Izbriši')

- if logged_in?
  %a{href: '/post/new'} Dodaj
