- @page_title = "O nama"

%article
  %h1= @about_us_content.first.title
  = rework_photo(@about_us_content.first.photo).html_safe
  = render_markdown(@about_us_content.first.text).html_safe

%article#jurica
  %h1= @about_us_content.last.title
  = rework_photo(@about_us_content.last.photo).html_safe
  = render_markdown(@about_us_content.last.text).html_safe


%article#clanovi
  %h1 Članovi zbora
  - %w[soprani alti tenori basi].each do |voice|
    %section
      %h2= voice.capitalize
      %ol
        = list_of @members.by_voice(voice) do |member|
          = member
  = link_to "Izmjeni", members_path

%article#aktivnosti
  %h1 Aktivnosti
  - @activities.each do |activity_year|
    %h2= activity_year.year
    != render_markdown(activity_year.bullets)
  = link_to "Dodaj novu godinu", new_activity_path
    = link_to "Izmjeni", edit_activity_path(activity)
    = link_to "Izbriši", activity_path(activity), :method => :delete
