- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

%p#log
  - unless logged_in?
    %a{href: '/login'} Prijava administratora
  - else
    %a{href: '/logout'} Odjava

#intro

  :ruby
    @intro = Intro.first
    @photo = Flickr.find_photo(@intro.photo_id).send(string_to_method(@intro.photo_size))

  %h1= @intro.title

  .inner

    %article.main
      %img{src: @photo.url, alt: @photo.title, width: @photo.width, height: @photo.height}
      = render_markdown @intro.body

      %p
        %a{href: '/o_nama'} Opširnije
        %a.arrow{href: '/o_nama'} ▶

      - if logged_in?
        - edit_button("/content/#{@intro.id}")

    %aside

      - @sidebar = Sidebar.first

      %section#video

        %h2= @sidebar.video_title

        = @sidebar.video

      %section#audio

        %h2= @sidebar.audio_title

        %audio{src: "/audio/#{@sidebar.audio}.mp3", controls: true}

        %object.flash{width: 300, height: 27}
          %param{name: 'flashvars', value: "audioUrl=/audio/#{@sidebar.audio}.mp3"}
          %param{name: 'src', value: 'http://www.google.com/reader/ui/3523697345-audio-player.swf'}
          %param{name: 'quality', value: 'best'}
          %embed{type: 'application/x-shockwave-flash',
                 flashvars: "audioUrl=/audio/#{@sidebar.audio}.mp3",
                 src: 'http://www.google.com/reader/ui/3523697345-audio-player.swf',
                 width: 300, height: 27, quality: 'best'}

      - if logged_in?
        - edit_button("/sidebar/#{@sidebar.id}")

%section#news

  %h1= Content.by_page('index').first.title

  = haml :'partials/news'
