- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

%p#log
  - unless logged_in?
    %a{href: '/login'} Prijava administratora
  - else
    %a{href: '/logout'} Odjava

%section#intro

  .inner

    - @intro = Content.find_by_content_type('intro')

    %article.main

      = render_markdown(@intro.text)

      %p
        %a{href: '/o_nama'} Opširnije
        %a.arrow{href: '/o_nama'} →

      - buttons({edit: 'Izmjeni'}, "/content/#{@intro.id}") if logged_in?

    %aside

      - @sidebar = Sidebar.first

      %section#video

        %h2= @sidebar.video_title

        = @sidebar.video

      %section#audio

        %h2= @sidebar.audio

        - audio = Audio.find_by_original_name(@sidebar.audio)

        %audio{controls: true, preload: true}
          %source{src: "/audio/#{audio.uploaded_filename}"}
          - if audio.has_ogg?
            %source{src: "/audio/#{audio.ogg_filename}"}

      - buttons({edit: 'Izmjeni'}, "/sidebar/#{@sidebar.id}") if logged_in?

%section#news

  = render_partial :news
