- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

%p#log
  - unless logged_in?
    %a{href: '/login'} Prijava administratora
  - else
    %a{href: '/logout'} Odjava

#intro

  .inner

    - @intro = Content[type: 'intro']

    %article.main
      = render_markdown(@intro.text)

      %p
        %a{href: '/o_nama'} Opširnije
        %a.arrow{href: '/o_nama'} ▶

      - if logged_in?
        - edit_button("/content/#{@intro.id}")

    %aside

      - @sidebar = Sidebar.first

      %section#video

        %h2= @sidebar.video_title

        = @sidebar.video

      %section#audio

        %h2= @sidebar.audio_title

        %audio{controls: true, preload: true}
          %source{src: "/audio/#{@sidebar.audio}.mp3"}

      - if logged_in?
        - edit_button("/sidebar/#{@sidebar.id}")

%section#news

  = render_markdown Content[type: 'news'].text

  = haml :'partials/news'
