- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

%p#log
  - unless logged_in?
    %a{href: '/login'} Prijava administratora
  - else
    %a{href: '/logout'} Odjava

#intro

  :ruby
    @intro = Intro.first
    @photo = Flickr.find_photo(@intro.photo_id).send(string_to_method(@intro.photo_size))

  %h1= @intro.title

  .inner

    %article.main
      %img{src: @photo.url, alt: @photo.title, width: @photo.width, height: @photo.height}
      = render_markdown @intro.body

      %p
        %a{href: '/o_nama'} Opširnije
        %a.arrow{href: '/o_nama'} ▶

      - if logged_in?
        .controls
          - edit_button('/intro/')

    %aside

      :ruby
        @object_width = 300
        @video_height = 176
        @audio_height = 27

      %section#video

        %h2= @intro.video_title

        %object{width: @object_width, height: @video_height}
          %param{name: 'movie', value: @intro.video_url}
          %param{name: 'allowFullScreen', value: 'true'}
          %param{name: 'allowscriptaccess', value: 'always'}
          %embed{src: @intro.video_url, type: 'application/x-shockwave-flash', allowscriptaccess: 'always', width: @object_width, height: @video_height}

      %section#audio

        %h2= @intro.audio_title

        %audio{src: "/audio/#{@intro.audio_url}", controls: true}

        %object.flash{width: @object_width, height: @audio_height}
          %param{name: 'flashvars', value: "audioUrl=/audio/#{@intro.audio_url}"}
          %param{name: 'src', value: 'http://www.google.com/reader/ui/3523697345-audio-player.swf'}
          %param{name: 'quality', value: 'best'}
          %embed{type: 'application/x-shockwave-flash', flashvars: "audioUrl=/audio/#{@intro.audio_url}", src: 'http://www.google.com/reader/ui/3523697345-audio-player.swf', width: @object_width, height: @audio_height, quality: 'best'}

%section#news

  %h1= Content.by_page('index').first.title

  = haml :'partials/news'
