!!!
%html{lang: 'hr'}

  %head
    %meta{charset: 'utf-8'}
    %title= "Capella juris &ndash; #{@page_title}"
    %meta{name: 'description', content: 'Službene stranice Capelle juris.'}
    %meta{name: 'author', content: 'Matija Marohnić &lt;matija.marohnic@gmail.com&gt;'}
    %link{rel: 'shortcut icon', href: '/images/favicon.ico'}
    -# %link{:rel => 'alternate', :type => 'application/atom+xml', :title => 'Vijesti', :href => 'feed/feed.xml'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen, projection', href: '/css/screen.css'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen, projection', href: '/css/twipsy.css'}
    %script{src: 'http://api.html5media.info/1.1.4/html5media.min.js'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    = javascript_includes

  %body

    #wrapper
      %header
        .inner
          %a#logo{href: '/'}
            %img{src: '/images/logo.png', alt: 'logo', width: 225, height: 111}
          %img#photo{src: '/images/header.jpg', alt: 'header photo', width: 600, height: 180}
        %nav
          %ol#pages
            = list_of Page.order(:order_no) do |page|
              %a{href: "/#{page.haml_name == 'index' ? '' : page.haml_name}",
                 class: current?(page) && 'current'}= page.cro_name
          :ruby
            if current_page.present? and logged_in?
              buttons({add: '+'}, '/page/new')
              unless %w[index o_nama slike video].include? current_page
                buttons({delete: '-'}, "/page/#{Page.find_by_haml_name(current_page).id}")
              end
            end

      #main
        = yield

      %footer
        %section#contact
          %p
            %span.label Kontakt
            %span.value
              %a{href: 'mailto:capellajuris@gmail.com'} capellajuris@gmail.com
        %section#facebook
          %p Pratite nas na Facebooku za novosti, najave nastupa i slike
          %a.icon-fb{href: 'http://www.facebook.com/group.php?gid=15322005634', target: '_blank'}
