!!!
%html{lang: 'hr'}

  %head
    %title= "Capella juris &ndash; #{@page_title}"
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: 'Službene stranice Capelle juris.'}
    %meta{name: 'author', content: 'Matija Marohnić &lt;matija.marohnic@gmail.com&gt;'}
    %link{rel: 'shortcut icon', href: '/images/favicon.ico'}
    -# %link{:rel => 'alternate', :type => 'application/atom+xml', :title => 'Vijesti', :href => 'feed/feed.xml'}
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen, projection', href: '/css/screen.css'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js'}
    %script{src: '/js/gollum.editor.js'}
    %script{src: '/js/markdown.js'}
    %script{src: '/js/modernizr.custom.js'}
    = javascript_includes

  %body

    #wrapper

      %header

        .inner

          %a#logo{href: '/'}
            %img{src: '/images/logo.png', alt: 'logo', width: 225, height: 111}

          %img#photo{src: '/images/header.jpg', alt: 'header photo', width: 600, height: 180}

        %nav
          %ol
            - Page.order(:order).each do |page|
              %li
                %a{href: "/#{page.haml_name}", class: current?(page) && 'current'}
                  = page.cro_name

      #main
        = yield

      %footer

        %section#contact
          %p
            %span.label Kontakt
            %span.value
              %a{href: 'mailto:capellajuris@gmail.com'} capellajuris@gmail.com

        %section#facebook
          %p Pratite nas na Facebooku za novosti, najave nastupa i slike
          %a{href: 'http://www.facebook.com/group.php?gid=15322005634', target: '_blank'}
