-# encoding:utf-8
- @page_title = 'O nama'

%section.about

  :ruby
    Order.order(:order).each do |article|
      haml_tag :article do
        haml_tag :header do
          haml_tag :h1, "#{article.title}"
        end
        if article.title == 'Članovi zbora' or article.title == 'Aktivnosti'
          if article.title == 'Članovi zbora'
            generate_members
          else
            generate_activities
          end
        else
          generate_other_content
        end
      end
    end

  %article#povijestzbora

    %header
      %h1 Povijest zbora

    %img{src: 'images/povijest_zbora.jpg', alt: 'zbor', width: '250', height: '168'}

    :markdown

      Capella juris je zbor Pravnog fakulteta Sveučilišta u Zagrebu, osnovan u svibnju 2006. na inicijativu prof. *Josipovića* i prof. *Wolfganga Ruscha*, koji je zbor vodio prve dvije godine. Repertoar zbora je raznolik te se sastoji od renesansnih madrigala do suvremene glazbe, od hrvatske i europske narodne glazbe do jazza.

      Zbor se sastoji od 58 studentica, studenata i prijatelja Pravnog fakulteta Sveučilišta u Zagrebu te nastupa na promocijama diplomanata, ali i svim važnijim manifestacijama vezanim uz fakultet. Tako je, između ostalog, nastupao u Hrvatskom narodnom kazalištu prilikom obilježavanja 230 godina Pravnog fakulteta u Zagrebu, prilikom posjeta povjerenika Europske Unije za proširenje, gospodina Olia Rehna, te za Zakladu Zlatko Crnić u Hrvatskoj odvjetničkoj komori.

      Iza Capelle juris stoji natjecanje i četiri vrlo uspješna samostalna koncerta.

      Prvi, božićni koncert, "Magnificat anima mea Dominum", uz pratnju Hrvatskog baroknog ansambla održan je 2006. koji je obuhvaćao barokne božićne skladbe. Sljedeće godine, 2007., održana su dva božićna koncerta, u Varaždinu i Zagrebu, pod nazivom "Gloria in excelsis Deo", u pratnji gudačkog kvarteta Rucner, a sastojali su se od europske narodne božićne glazbe. Godine 2008. zbor je sudjelovao na 9. natjecanju amaterskih pjevačkih zborova u Zagrebu, gdje je u Hrvatskom glazbenom zavodu osvojio brončanu plaketu. 25. studenog 2008. zbor je održao i koncert "Omnia vincit Amor!", svojevrsnu posvetu ljubavi kroz raznolike glazbene oblike, a mjesec dana kasnije sad već i tradicionalni, božićni koncert pod nazivom "Bog se rodi v Vitliomi", koji se sastojao od niza (relativno nepoznatih) hrvatskih božićnih napjeva, uz gostovanje tenora Hrvoja Meštrova.

      Voditelj zbora od 2008. godine je mlad i perspektivan prof. *Jurica Petar Petrač*.

  %article#biografijadirigenta

    %header
      %h1 Biografija dirigenta

    %img{src: 'images/biografija_dirigenta.jpg', alt: 'dirigent jurica petar petrač', alt: 'jurica petar petrač', width: '137', height: '87'}

    :markdown

      Jurica Petar Petrač, prof. (Zagreb, 1985.) se nakon završene opće gimnazije [Tituš Brezovački](http://www.gimnazija-osma-tbrezovackog-zg.skole.hr/) i srednje glazbene škole [Blagoje Bersa](http://www.glazbena-bberse-zg.skole.hr/index.shtml) upisuje na studij glazbene teorije Muzičke akademije Sveučilišta u Zagrebu, diplomiravši u veljači 2009. godine. Istovremeno upisuje i studij Povijesti umjetnosti te Etnologije i kulturne antropologije na Filozofskom fakultetu u Zagrebu. Sa 17 godina osniva i Mješoviti pjevački zbor "Capella miércoles", koji djeluje u crkvi sv. Kvirina na Pantovčaku. Od 2008. godine, nakon prvobitnog pjevačkog sudjelovanja, postaje glazbeni voditelj zbora "Capella juris", a od 2011. glazbeni voditelj oratorijskog zbora crkve sv. Marka u Zagrebu, "Cantores Sancti Marci".

  %article#clanovizbora

    %header
      %h1 Članovi zbora

    %ul.members
      %li.first Soprani
      %li	Alisa Besek
      %li	Ana Miletić
      %li	Ana Vlašić
      %li Ana Zavada
      %li	Anja Juršetić
      %li	Barbara Bogojević
      %li	Daria Dubajić
      %li	Ines Malenica
      %li	Ivana Peulić
      %li	Ivana Radman
      %li	Katarina Sabljić
      %li	Klara Marinčević
      %li	Kristina Gotvald
      %li	Lidija Živković
      %li	Marija Ercegovac
      %li	Marija Vučurević
      %li	Mia Nazalević
      %li	Mirjana Vladić
      %li	Nikolina Hržina
      %li	Veronika Veršić
      %li Vesna Juretić
      %li Vinka Lozica
      %li.last Zrinka Marija Krnjak

    %ul.members
      %li.first Alti
      %li Ana Lukac
      %li Ana Mažuranić
      %li Ana Zidar
      %li Barbara Pavlek
      %li Daria Kolezarić
      %li Darja Petro
      %li Dina Jularić
      %li Ingrid Marman
      %li Iva Bojanovsky
      %li Jelena Pepelnik
      %li Lucija Petrač
      %li Mirna Radosavljević
      %li Nikol Namjesnik
      %li Nikolina Zlopaša
      %li Rafaela Tripalo
      %li Valentina Samardžija
      %li.last Vida Brezak

    %ul.members
      %li.first Tenori
      %li Bartul Marušić
      %li Davor Krnjak
      %li Davor Kutnjak
      %li Matija Marohnić
      %li Tomislav Krnjak
      %li.last Vedran Klisarić

    %ul.members
      %li.first Basi
      %li Dragutin Brezak
      %li Emil Rekić
      %li Emilio Nuić
      %li Ivan Fabris
      %li Juraj Gorupec
      %li Jure Perić
      %li Marko Ivanov
      %li Nino Kovačić
      %li Petar Brkić
      %li Roko Perić
      %li Tomislav Miljak
      %li.last Vlaho Komparak

  %article#aktivnosti

    %header
      %h1 Aktivnosti

    - @year = 2005

    .inner

      %article
        %header
          %h1= @year += 1
        :markdown
          1. Nastup na svečanosti obilježavanja *230 godina Pravnog fakulteta* Sveučilišta u Zagrebu (6. studenog, HNK Zagreb)
          2. "Magnificat anima mea dominum!", koncert Capelle juris uz pratnju [Hrvatskog baroknog ansambla](http://www.hrba.hr/hr/) (21. prosinca, Crkva Sv. Franje Asiškog, Zagreb)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. Nastup Capelle juris na *svečanoj konferenciji* gdje je Olli Rehn, povjerenik za proširenje u Europskoj komisiji, održao predavanje "Generacija Europa: Regionalna konferencija mladih" (11. svibnja, Pravni fakultet, Zagreb)
          2. "Advent u Varaždinu", koncert zbora Capella juris i [gudačkog kvarteta Rucner](http://www.rucner-string-quartet.com/) (18. prosinca, crkva Sv. Nikole, Varaždin)
          3. "Gloria in excelsis Deo", europska glazba za Božić, Capella juris i gudački kvartet Rucner (19. prosinca, crkva Sv. Franje Asiškog u Zagrebu)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. *9. Natjecanje pjevačkih zborova* Zagreb, 2008., Podij zagrebačkih glazbenih amatera -- <span class='award'>brončana plaketa</span> (3. svibnja, Hrvatski glazbeni zavod, Zagreb)
          2. "Omnia vincit amor", koncert Capelle juris (25. studenog, Preporodna dvorana HAZU)
          3. "Bog se rodi v Vitliomi", 22. prosinca (Crkva Sv. Franje Asiškog)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. "Amans amens", svečani koncert povodom 3. rođendana Capelle juris (20. svibnja, muzej Mimara)
          2. *Smotra amaterskih zborova grada Zagreba* (24. svibnja, Dom kulture Prečko)
          3. Nastup Capelle juris na *Dobro jutro Hrvatska* (23. lipnja, studio HRT-a, Zagreb)
          4. *Ohrid Choir Festival*, natjecanje pjevačkih zborova (28.8--1.9., Makedonija) -- <span class='award'>brončana plaketa</span>
          5. Nastup u *Hrvatskoj odvjetničkoj komori* povodom predstavljanja knjige odvjetnika Srećka Ilića (12. studenog, Hrvatski odvjetnički dom, Zagreb)
          6. "Ceremony of Carols", božićni koncert Capelle juris (21. prosinca, Crkva Sv. Franje Asiškog, Zagreb)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. *10. Natjecanje pjevačkih zborova Zagreb 2010.*, Zagrebački glazbeni podij Centra za kulturu "Trešnjevka" (17. travnja, Koncertna dvorana Vatroslava Lisinskog, Zagreb) -- <span class='award'>srebrna plaketa</span>
          2. "Praga Cantat", Natjecanje pjevačkih zborova (27.10--31.10., Češka) -- <span class='award'>srebrna plaketa</span> i <span class='award'>posebna nagrada žirija za najbolju izvedbu suvremene kompozicije</span> (I. Kuljerić, Crn-bel)
          3. *Svečana akademija* povodom 20. obljetnice donošenja Ustava Republike Hrvatske i 60. obljetnice potpisivanja Konvencije za zaštitu ljudskih prava i temeljnih sloboda, nastup Capelle juris (10. prosinca, Hrvatski sabor, Zagreb)
          4. "Misa Criolla", božićni koncert Capelle juris uz gostovanje ansambla [Ayllu](http://fotozine.org/?knjiga=galerije&poglavlje=2601&list=14559&element=242906), klaviristice [Ive Ljubičić](http://www.miniature-piano.com/video/Iva+Ljubi%C4%8Di%C4%87/) i tenora [Domagoja Dorotića](http://www.hnk.hr/hr/opera/ansambl/solisti_opere/domagoj_dorotic) (21. prosinca, Crkva Sv. Katarine u Zagrebu)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. *Akademska donatorska večer* pod pokroviteljstvom predsjednika Republike Hrvatske, Ive Josipovića (17. siječnja, studentski Kampus na Borongaju, Zagreb)
          2. Nastup Capelle u ciklusu koncerata klasične glazbe "Night in Paris" (24. ožujka, mala dvorana Vatroslav Lisinski)
          3. *Rođendanski koncert* Capelle juris, francuske šansone skladatelja Ravel, Debussy i Poulenc (13. svibnja, Preporodna dvorana HAZU)
