-# encoding:utf-8
- @page_title = 'O nama'

%section.about

  :ruby
    Order.order(:order).each do |article|
      @title = article.title
      unless @title == 'Aktivnosti' or @title == 'Članovi zbora'
        puts haml :'partials/contents'
      else
        if @title == 'Aktivnosti'
          puts haml :'partials/activities'
        else
          puts haml :'partials/members'
        end
      end
    end

  %article#aktivnosti

    %header
      %h1 Aktivnosti

    - @year = 2005

    .inner

      %article
        %header
          %h1= @year += 1
        :markdown
          1. Nastup na svečanosti obilježavanja *230 godina Pravnog fakulteta* Sveučilišta u Zagrebu (6. studenog, HNK Zagreb)
          2. "Magnificat anima mea dominum!", koncert Capelle juris uz pratnju [Hrvatskog baroknog ansambla](http://www.hrba.hr/hr/) (21. prosinca, Crkva Sv. Franje Asiškog, Zagreb)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. Nastup Capelle juris na *svečanoj konferenciji* gdje je Olli Rehn, povjerenik za proširenje u Europskoj komisiji, održao predavanje "Generacija Europa: Regionalna konferencija mladih" (11. svibnja, Pravni fakultet, Zagreb)
          2. "Advent u Varaždinu", koncert zbora Capella juris i [gudačkog kvarteta Rucner](http://www.rucner-string-quartet.com/) (18. prosinca, crkva Sv. Nikole, Varaždin)
          3. "Gloria in excelsis Deo", europska glazba za Božić, Capella juris i gudački kvartet Rucner (19. prosinca, crkva Sv. Franje Asiškog u Zagrebu)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. *9. Natjecanje pjevačkih zborova* Zagreb, 2008., Podij zagrebačkih glazbenih amatera -- <span class='award'>brončana plaketa</span> (3. svibnja, Hrvatski glazbeni zavod, Zagreb)
          2. "Omnia vincit amor", koncert Capelle juris (25. studenog, Preporodna dvorana HAZU)
          3. "Bog se rodi v Vitliomi", 22. prosinca (Crkva Sv. Franje Asiškog)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. "Amans amens", svečani koncert povodom 3. rođendana Capelle juris (20. svibnja, muzej Mimara)
          2. *Smotra amaterskih zborova grada Zagreba* (24. svibnja, Dom kulture Prečko)
          3. Nastup Capelle juris na *Dobro jutro Hrvatska* (23. lipnja, studio HRT-a, Zagreb)
          4. *Ohrid Choir Festival*, natjecanje pjevačkih zborova (28.8--1.9., Makedonija) -- <span class='award'>brončana plaketa</span>
          5. Nastup u *Hrvatskoj odvjetničkoj komori* povodom predstavljanja knjige odvjetnika Srećka Ilića (12. studenog, Hrvatski odvjetnički dom, Zagreb)
          6. "Ceremony of Carols", božićni koncert Capelle juris (21. prosinca, Crkva Sv. Franje Asiškog, Zagreb)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. *10. Natjecanje pjevačkih zborova Zagreb 2010.*, Zagrebački glazbeni podij Centra za kulturu "Trešnjevka" (17. travnja, Koncertna dvorana Vatroslava Lisinskog, Zagreb) -- <span class='award'>srebrna plaketa</span>
          2. "Praga Cantat", Natjecanje pjevačkih zborova (27.10--31.10., Češka) -- <span class='award'>srebrna plaketa</span> i <span class='award'>posebna nagrada žirija za najbolju izvedbu suvremene kompozicije</span> (I. Kuljerić, Crn-bel)
          3. *Svečana akademija* povodom 20. obljetnice donošenja Ustava Republike Hrvatske i 60. obljetnice potpisivanja Konvencije za zaštitu ljudskih prava i temeljnih sloboda, nastup Capelle juris (10. prosinca, Hrvatski sabor, Zagreb)
          4. "Misa Criolla", božićni koncert Capelle juris uz gostovanje ansambla [Ayllu](http://fotozine.org/?knjiga=galerije&poglavlje=2601&list=14559&element=242906), klaviristice [Ive Ljubičić](http://www.miniature-piano.com/video/Iva+Ljubi%C4%8Di%C4%87/) i tenora [Domagoja Dorotića](http://www.hnk.hr/hr/opera/ansambl/solisti_opere/domagoj_dorotic) (21. prosinca, Crkva Sv. Katarine u Zagrebu)

      %article
        %header
          %h1= @year += 1
        :markdown
          1. *Akademska donatorska večer* pod pokroviteljstvom predsjednika Republike Hrvatske, Ive Josipovića (17. siječnja, studentski Kampus na Borongaju, Zagreb)
          2. Nastup Capelle u ciklusu koncerata klasične glazbe "Night in Paris" (24. ožujka, mala dvorana Vatroslav Lisinski)
          3. *Rođendanski koncert* Capelle juris, francuske šansone skladatelja Ravel, Debussy i Poulenc (13. svibnja, Preporodna dvorana HAZU)
