- @page_title = 'Video'

#videos
  %ul
    = list_of(@videos) do |video|
      %h1= video.title.try(:gsub, ' - ', ' &ndash; ')
      != video.link
      = link_to "Izbriši", video_path(video), :method => :delete

  = link_to "Dodaj novi video", new_video_path

  %p#top
    = link_to 'Povratak na vrh ↑', '#'

