- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

%section#intro
  .inner
    %article.main
      %h1= @intro.title
      != @intro.photo_link
      != render_markdown(@intro.text)

      %p= link_to 'Opširnije →', '/o_nama'

    %aside
      %section#video
        %h2= @intro.video_title
        != @intro.video

      %section#audio
        %h2 Makedonska humoreska
        = audio_tag ["makedonsko_devojce.mp3", "makedonsko_devojce.ogg"],
          :controls => true, :autobuffer => true

%section#news
  %h1 Vijesti

  - @news.each do |news|
    %article
      %header
        %h1= news.title
        = time_tag news.created_at, croatian_date(news.created_at), :pubdate => true
      != render_markdown(news.text)
      != news.photo_link
