- @page_title = "O nama"

= render :partial => "general_contents/general_content", :object => @history, :locals => {:id => "povijest"}
= render :partial => "general_contents/general_content", :object => @conductor, :locals => {:id => "jurica"}

%article#clanovi
  %h1 Članovi zbora
  - %w[soprani alti tenori basi].each do |voice|
    %section
      %h2= voice.capitalize
      %ol
        = list_of @members.by_voice(voice) do |member|
          = member
  = edit_button "Izmjeni", edit_members_path if admin_logged_in?

%article#aktivnosti
  %h1 Aktivnosti
  = add_button "Dodaj godinu", new_activity_path if admin_logged_in?
  = render @activities
