- @page_title = 'Zbor Pravnog fakulteta u Zagrebu'

%section#intro
  .inner
    %article.main
      %h1= @intro.title
      = rework_photo(@intro.photo).html_safe
      = render_markdown(@intro.text).html_safe
      %p= edit_button "Izmjeni", edit_general_content_path(@intro) if admin_logged_in?
      %p= link_to "Opširnije →", about_us_path

    %aside
      %section.video
        %h2= @sidebar.video_title
        = @sidebar.video.html_safe
      %section.audio
        %h2= @sidebar.audio.title
        = audio_tag @sidebar.audio.files, :controls => true, :autobuffer => false, :preload => "none"
      = edit_button "Izmjeni", edit_sidebar_path if admin_logged_in?

%section#vijesti
  %h1 Vijesti
  = add_button "Dodaj vijest", new_news_path if admin_logged_in?
  = render @news
  %p#arhiva= link_to "Arhiva →", archive_path
