- @page_title = "Video"

%ul#video
  - @videos.each do |video|
    %li{:id => (video == @videos.last ? "last" : nil)}
      - if video.title.present?
        %h1= video.title.gsub(" - ", " &ndash; ")
      = video.link.html_safe
      = delete_button "Izbriši", video_path(video) if admin_logged_in?

.center= add_button "Dodaj video", new_video_path if admin_logged_in?

%p#top= link_to "Povratak na vrh ↑", "#"
