- @page_title = 'Izmjena Älanova zbora'

- session[:members_to_create] = [] if session[:members_to_create] == nil
- session[:members_to_delete] = [] if session[:members_to_delete] == nil

- if logged_in?
  - ['S','A','T','B'].each do |voice|
    %ul.members
      %li.first= voice_to_cro(voice)
      - last = Member.filter(:voice => voice).count - 1
      - Member.filter(:voice => voice).order(:last_name).each_with_index do |member, index|
        - unless session[:members_to_delete].include? member.id
          %li{:class => (index == last) && 'last'}
            = "#{member.first_name} #{member.last_name}"
            - button(action: "/member/#{member.id}", method: 'post', value: 'x')
    %form{action: '/member/new', method: 'post'}
      %input{type: 'text', name: 'first_name'}
      %input{type: 'text', name: 'last_name'}
      %input{type: 'hidden', name: 'voice', value: voice}
      %input{type: 'submit', value: 'Dodaj'}

  %form{action: '/members', method: 'post'}
    %input{type: 'submit', name: 'action', value: 'Spremi promjene'}
    %input{type: 'submit', name: 'action', value: 'Odustani'}
