- @page_title = 'Izmjena članova zbora'

%section.members

  - for voice in Member.voices
    %section

      %h2= voice.capitalize

      %ol
        = list_of Member.by_voice(voice).order(:last_name) do |member|
          = member
          - buttons({delete: 'x'}, "/member/#{member.id}")

      - buttons({add: 'Dodaj'}, "/member/#{Member.voice_abbr(voice)}/new")

%a{href: Content.find_by_content_type('members').page} Natrag
