!!!
%html{lang: 'hr'}

  %head
    %meta{charset: 'utf-8'}
    %title!= "Capella juris &ndash; #{@page_title}"
    %meta{name: 'description', content: 'Službene stranice Capelle juris.'}
    %meta{name: 'author', content: 'Matija Marohnić &lt;matija.marohnic@gmail.com&gt;'}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://api.html5media.info/1.1.4/html5media.min.js"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27463615-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %header#header
      .inner
        = link_to home_path, :id => "logo" do
          = image_tag "logo.png", :size => "225x111"
        = image_tag "header.jpg", :size => "600x180", :id => "photo"
      %nav
        %ol#pages
          = list_of navigation_pages do |page|
            = link_to page[:name], page[:link], :class => current_page?(page[:link]) ? "current" : nil
        #log= login_or_logout_link

    %section#main
      = yield

    %footer
      %section#contact
        %p
          %span.label Kontakt
          %span.value= mail_to "capellajuris@gmail.com"
      %section#facebook
        %p Pratite nas na Facebooku za novosti, najave nastupa i slike
        %a.icon-fb{href: 'http://www.facebook.com/group.php?gid=15322005634', target: '_blank'}
