- @page_title = "Izmjena članova zbora"

#members
  - %w[soprani alti tenori basi].each do |voice|
    %section
      %h1= voice.capitalize
      %ol
        = list_of @members.by_voice(voice) do |member|
          %div= member
          = delete_button "x", member_path(member)
      = add_button "Dodaj novog člana", new_member_path(voice[0])

%p
  = link_to "← Natrag", "#{about_us_path}#clanovi"
