- @page_title = "Novi Älan"

= labeled_form_for @member do |f|
  = f.custom_error_messages

  = f.text_field :first_name, :label => "Ime"
  = f.text_field :last_name, :label => "Prezime"
  = f.hidden_field :voice, :value => params[:voice]
  = f.submit "Dodaj"
  = cancel_button "Odustani", :back
